<% provide(:title, @user.name ) %>
<div class="container">
  <div class="messaging">
    <div class="inbox_msg">
      <%= render partial: 'layouts/chat_index'%>
      <div class="container-show text-center">
        <div class="show-image">
            <img src="/human_image.jpeg">
        </div>
        <h3><%= @user.name %></h3>


        <% if current_user.following?(@user)%>

          <% if @room.present? && @room_user.present? %>

            <% if @room = Room.find_by(owner_id: current_user.id) %>

              <% if @room_user.ids.include?(@room.id) %>
                <%= link_to room_path(@room) do %>
                  <button class="btn btn-talk btn-xs">
                    <h4>トークルームへ</h4>
                  </button>
                <% end %>
              <% elsif @room = Room.where(owner_id: @user.id) %>
              <% @room_user = RoomUser.where(user_id: current_user.id) %>
              <% @room_users = @room & @room_user%>
                <% if @room_users.present? %>
                  <%= link_to room_path(@room) do %>
                  <button class="btn btn-talk btn-xs">
                    <h4>トークルームへ</h4>
                  </button>
                  <% end %>
                <% else %>
                <% @room = Room.where(owner_id: current_user.id) %>
                <% @room_user = RoomUser.where(user_id: @user.id) %>
                  <% if @room.ids.include?(@room_user.id) %>
                    <%= link_to rooms_path do %>
                      <button class="btn btn-talk btn-xs">
                        <h4>トーク一覧へ</h4>
                      </button>
                    <% end %>
                  <% else %>
                    <%= link_to new_room_path(:user_id => @user.id), :method => 'get' do %>
                      <button class="btn btn-talk btn-xs">
                        <h4>トークルームの作成</h4>
                      </button>
                    <% end %>
                    <%= render 'follow_form' %>
                  <% end %>
                <% end %>
              <% else %>
                <%= link_to new_room_path(:user_id => @user.id), :method => 'get' do %>
                  <button class="btn btn-talk btn-xs">
                    <h4>トークルームの作成</h4>
                  </button>
                <% end %>
                <%= render 'follow_form' %>
              <% end %>
            <% else %>
            <% @room = Room.where(owner_id: @user.id) %>
            <% @room_user = RoomUser.where(user_id: current_user.id) %>
            <% @room_users = @room.ids & @room_user.ids %>
              <% if @room_users.present? %>
                <%= link_to room_path(@room_users) do %>
                  <button class="btn btn-talk btn-xs">
                    <h4>トークルームへ</h4>
                  </button>
                <% end %>
              <% else %>
                <%= link_to new_room_path(:user_id => @user.id), :method => 'get' do %>
                  <button class="btn btn-talk btn-xs">
                    <h4>トークルームの作成</h4>
                  </button>
                <% end %>
                <%= render 'follow_form' %>
              <% end %>
            <% end %>
              

          <% elsif @room.present? %>

          <% @room = Room.where(owner_id: @user.id) %>
          <% @room_user = RoomUser.where(user_id: current_user.id) %>
          <% @room_users = @room.ids & @room_user.ids %>

            <% if @room_users.present? %>
              <%= link_to room_path(@room_user.ids) do %>
                <button class="btn btn-talk btn-xs">
                  <h4>トークルームへ</h4>
                </button>
              <% end %>
            <% else %>
              <%= link_to new_room_path(:user_id => @user.id), :method => 'get' do %>
                <button class="btn btn-talk btn-xs">
                  <h4>トークルームの作成</h4>
                </button>
              <% end %>
              <%= render 'follow_form' %>
            <% end %>


          <% elsif @room.nil? && @room_user.present? %>

          <% @room = Room.where(owner_id: current_user.id) %>
          <% @room_users = @room.ids & @room_user.ids %>
              
            <% if @room_users.present? %>
              <%= link_to room_path(@room_users) do %>
                <button class="btn btn-talk btn-xs">
                  <h4>トークルームへ</h4>
                </button>
              <% end %>
            <% else %>
              <%= link_to new_room_path(:user_id => @user.id), :method => 'get' do %>
                <button class="btn btn-talk btn-xs">
                  <h4>トークルームの作成</h4>
                </button>
              <% end %>
              <%= render 'follow_form' %>
            <% end %>

          <% else %>

            <%= link_to new_room_path(:user_id => @user.id), :method => 'get' do %>
              <button class="btn btn-talk btn-xs">
                <h4>トークルームの作成</h4>
              </button>
           <% end %>

          <% end %>
        <% else %>
          <%= render 'follow_form'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
