<% provide(:title, @users ) %>
<div class="container">
  <div class="messaging">
    <div class="inbox_msg">
      <%= render partial: 'layouts/chat_index'%>
      <div class="mesgs">
        <div class="msg_history">
          <div id="show_user" data-show_user="<%= current_user.id %>"></div>
          <%= render @messages %>
          <div id='messages' data-room_id="<%= @room.id %>"></div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <%= text_field_tag :content, nil, data: { behavior: 'room_speaker' }, class: 'write_msg', placeholder: 'Type a message here and send by enter' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
