<% provide(:title, 'チャットルーム') %>
<section>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h1>チャットルーム</h1>
      </div>
      <div id="show_user" data-show_user="<%= current_user.id %>"></div>
      <div id='messages' data-room_id="<%= @room.id %>">
        <%= render @messages %>
      </div>

      <div class="row col-lg-6 col-lg-offset-2">
        <div class="text-right">
          <%= label_tag :content, 'Say something:' %>
        </div>
        <%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>
      </div>
    </div>
  </div>
</section>
