<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#site-menu">
    <i class="fas fa-bars"></i>
  </button>
      <%= link_to "CHATAPP！", root_url, class: "navbar-brand" %>
    <div class="collapse navbar-collapse" id="site-menu">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "友達一覧", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "チャットルーム", rooms_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item active">
          <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
        </li>
        <% end %>
      </ul>
    </div>
</nav>
